<ion-header class="bg_transparent">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
  <div class="banner animate__animated animate__zoomInUp">
    <div class="logo ion-text-center">
      <img src="assets/images/Logo.png" class="light_theme_logo" />
      <img src="assets/images/logo_store_dark.png" class="dark_theme_logo" />
    </div>
    <!-- <h2 class="ion-text-center"><strong>{{'delivering_almost' | translate}}</strong> {{'everything' | translate}}</h2> -->
  </div>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
  <div class="footer_banner">
    <div class="img_box">
      <!-- <img src="assets/images/login_image.png"> -->
    </div>
  </div>
  <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <div class="form">
      <ion-list lines="none">
        <ion-item lines="none">
          <div class="item_inner d-flex" dir="ltr">
            <h3>+98</h3>
            <ion-input
              mode="md"
              type="number"
              ngModel
              name="phone-number"
              placeholder="{{'enter_mobile_number' | translate}}"
              pattern=".{10,10}"
              required
            ></ion-input>
            <ion-button
              size="large"
              class="btn end"
              type="submit"
              [disabled]="!form.valid"
              >{{'continue' | translate}}</ion-button
            >
          </div>
        </ion-item>
      </ion-list>
    </div>
</form>
</ion-footer>
